<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://tristanvandermeer.netlify.app/favicon.ico" />
    <script src="script.js" defer></script>
</head>
<body>
    <main class="main-container">
        <div class="frame-outer">
            <div class="frame-inner">
                <!-- Poster content goes below here: -->

                <!-- Instructions for this are in the CSS -->
                <div class="color-bar">
                    <div class="bar-color-left"></div>
                    <div class="bar-color-mid"></div>
                    <div class="bar-color-right"></div>
                </div>

                <!-- Do not change this. -->
                <img class="studio-logo" src="eyeball.png">

                <!-- Change the content of author-mention to the relevant author/director -->
                <p class="author-mention" style="font-family: Helvetica;">a short story by Harlan Ellison</p>
                <!-- Change the content of title to the title of the media/tvshow/movie -->
                <h1 class="title" style="font-family: Helvetica-Bold;">I Have No Mouth And I Must Scream</h1>

                <!-- Ignore this comment. Make new variations and add js for changing it out -->
                <div class="main-image">

                    <div class="color3"></div>
                    <div class="color2"></div>
                    <div class="background-color"></div>

                    <!-- Ignore this comment. This will have to be figured out later. -->
                    <img src="am_vr_trans_yay!.png" class="am_pillar">

                </div>

                <div class="bottom-row">

                    <!-- Change the contents of these lists to the names of the people that led in directing/producing/acting/writing this media. Limit yourself to the 9 most prominent names. -->
                    <div class="left-group" style="font-family: Helvetica; font-size: 1vmin;">
                        <ul>
                            <li>Ted</li>
                            <li>Benny</li>
                            <li>Ellen</li>
                        </ul>
                        <ul>
                            <li>Nimdok</li>
                            <li>Gorrister</li>
                            <li>Tristan</li>
                        </ul>
                        <ul>
                            <li>Nimdok</li>
                            <li>Gorrister</li>
                            <li>Tristan</li>
                        </ul>
                    </div>

                    <div class="right-group">
                        <p style="font-family: Helvetica-Bold; font-size: 2.6vmin; letter-spacing: -0.5px;">/387.44</p>
                    </div>
                </div>
                
            </div>

        </div>
    </main>
</body>
</html>