:root {

    /* 

    Pick a darker, muted color related to the palette of the movie, to be color1.

    color2 and color3 will be lighter shades of color1, in increasing lightness.

    You may use rgb(...), or hexcodes, whatever is easiest.

    */

    --color1: rgb(144, 17, 17);
    --color2: #9e3733;
    --color3: #ab6862;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5; /* This is the background colour, do not change this. */
}

.frame-outer {
    padding: 2.2vmin;
    background: black; 
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
    0 0 50px rgba(0, 0, 0, 0.4);

}

.frame-inner {
    aspect-ratio: 2 / 3;
    width: 60vmin;
    background: #eeece1; /* This is the background colour, do not change this. */
    display: grid;
    grid-template-columns: 3vmin repeat(5, 1fr) 3vmin;
    grid-template-rows: 3vmin repeat(9, 1fr) 5vmin;
}

@font-face {
    font-family: Helvetica-Bold;
    src: url(Helvetica-Bold.ttf);
}

.studio-logo {
    grid-column: 2;
    grid-row: 2;

    height: 5vmin;

    align-self: start;
    margin: 0;
}

.color-bar {
    grid-column: 6;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.bar-color-left {
    grid-column: 1;
    grid-row: 1;
    background-color: black; /* This stays black */
}

.bar-color-mid {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--color3);
}

.bar-color-right {
    grid-column: 3;
    grid-row: 1;
    background-color: var(--color1);
}


.author-mention {
    grid-column: 6;
    grid-row: 4;

    color: rgb(144, 17, 17);

    font-size: 1.7vmin;

    align-self: end;
    text-align: right;
}

.title {
    font-size: 5.2vmin;
    margin: 0;
    
    grid-column: 2 / span 4;
    grid-row: 3 / span 2;
}

.main-image {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);

    grid-column: 2 / span 5;
    grid-row: 5 / span 6;
    background: #dfddd0; /* This is the background colour, do not change this. */
}

.am_pillar {
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column: 5;
    justify-self: center;
    align-self: end;

    width: 900%;
}

.background-color {
    background-color: var(--color1);
    grid-row: 7 / 10;
    grid-column: 1 / 10;
}

.color2 {
    grid-row: 6;
    grid-column: 1 / span 9;

    background-color: var(--color2);
    border-style: solid;
    border-color: var(--color2);
}

.color3 {
    grid-row: 5;
    grid-column: 1 / span 9;

    background-color: var(--color3);
    border-style: solid;
    border-color: var(--color3);
}

/* Bottom row formatting */

.bottom-row {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / span 5;
  grid-row: 11;
}

.left-group, .right-group {
  display: flex;
  align-items: center;
  gap: 20px; 
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 ul li {
    line-height: 1;
 }